<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" android:sharedUserId="android.uid.system" coreApp="true" package="com.oneplus.screenshot" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application android:defaultToDeviceProtectedStorage="true" android:directBootAware="true" android:label="@string/app_name" android:name=".ScreenshotApplication" android:theme="@style/AppTheme">
        <service android:exported="false" android:name=".LongshotService"/>
        <service android:exported="false" android:name=".service.GlobalService"/>
        <service android:exported="false" android:name=".TakeScreenshotService"/>
        <receiver android:exported="false" android:name=".GlobalScreenshot$TargetChosenReceiver"/>
        <receiver android:exported="false" android:name=".GlobalScreenshot$DeleteScreenshotReceiver"/>
    </application>
</manifest>